<div class="sidebar">
	<ul class="list-unstyled">
		<% if (site.posts.length){ %>
		  <li class="category-list">
			<h4 class="lead"><%= __('archive_a') %></h4>
			<a class="category-links">
			  <%- list_archives({show_count: theme.show_count, type: theme.archive_type}) %>
			</a>
		  </li>
		<% } %>
	</ul>
</div>
